@model SistemaLearnGo.Models.Perfil

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Perfil</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PerfilId" />
            <div class="form-group">
                <label asp-for="PerfilFoto" class="control-label"></label>
                <input asp-for="PerfilFoto" class="form-control" />
                <span asp-validation-for="PerfilFoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CadastroId" class="control-label"></label>
                <select asp-for="CadastroId" class="form-control" asp-items="ViewBag.CadastroId"></select>
                <span asp-validation-for="CadastroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary btn-geral" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
