@model SistemaLearnGo.Models.SolicitarCarona

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SolicitarCarona</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SolicitarCaronaNome" class="control-label"></label>
                <input asp-for="SolicitarCaronaNome" class="form-control" />
                <span asp-validation-for="SolicitarCaronaNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SolicitarCaronaHorário" class="control-label"></label>
                <input asp-for="SolicitarCaronaHorário" class="form-control" />
                <span asp-validation-for="SolicitarCaronaHorário" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SolicitarCaronaEndereço" class="control-label"></label>
                <input asp-for="SolicitarCaronaEndereço" class="form-control" />
                <span asp-validation-for="SolicitarCaronaEndereço" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FaculdadeId" class="control-label"></label>
                <select asp-for="FaculdadeId" class ="form-control" asp-items="ViewBag.FaculdadeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
