html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*background-color: #DFD8FF;*/
    align-items: center;
    justify-content: center;
}
row {
    background-color: #20164D;
    border-radius: 10px;
    padding: 2rem 2rem;
    width: 500px;
    margin: 0 auto;
}

/caixa/
.col-md-4 {
    background-color: #20164D;
    border-radius: 10px;
    padding: 2rem 2rem;
    width: 500px;
    margin: 0 auto;
}

input {
    margin-top: 20px;
    
}

.btn-geral {
    background-color: #FF784E;
    border: none;
    width: 415px;
}
.btn-primary {
    background-color: #FF784E;
    border: none;
    width: 415px;
}

.logo {
    width: 100px;
}

.azul {
    background-color: #20164D;
    height: 25px;
}

